PORT=3333
DATABASE_PATH=./src/database/colegiados.sqlite
FRONTEND_URL=http://localhost:5173
ADMIN_USER=admin
ADMIN_PASSWORD=Colegiados@2026
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_PUBLICATIONS_SUFFIX=_Publicacoes
