PORT=3333
DATABASE_PATH=./src/database/colegiados.sqlite
FRONTEND_URL=http://localhost:5173
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_DRIVE_PUBLICATIONS_SUFFIX=_Publicacoes
